In [70]:
#Extract and staging 
import pandas as pd


metabric_df = pd.read_csv('METABRIC_RNA_Mutation.csv')
drugs_df = pd.read_csv('drugs.csv')
billing_df = pd.read_csv('Institutional_Medical_Billing_Services__SV2__Header_Information_-_Historical.csv')

C:\Users\Admin\AppData\Local\Temp\ipykernel_2740\600208767.py:5: DtypeWarning: Columns (678,688,690,692) have mixed types. Specify dtype option on import or set low_memory=False.
  metabric_df = pd.read_csv('METABRIC_RNA_Mutation.csv')
C:\Users\Admin\AppData\Local\Temp\ipykernel_2740\600208767.py:7: DtypeWarning: Columns (32,59,61,62,63,64,77,83,100,104,106,116,117,120,121) have mixed types. Specify dtype option on import or set low_memory=False.
  billing_df = pd.read_csv('Institutional_Medical_Billing_Services__SV2__Header_Information_-_Historical.csv')

In [75]:
#Extracting data
metabric_df.head(3)

,patient_id,age_at_diagnosis,type_of_breast_surgery,cancer_type,cancer_type_detailed,cellularity,chemotherapy,pam50_+_claudin-low_subtype,cohort,er_status_measured_by_ihc,...,mtap_mut,ppp2cb_mut,smarcd1_mut,nras_mut,ndfip1_mut,hras_mut,prps2_mut,smarcb1_mut,stmn2_mut,siah1_mut
0,0,75.65,MASTECTOMY,Breast Cancer,Breast Invasive Ductal Carcinoma,NaN,0,claudin-low,1.0,Positve,...,0,0,0,0,0,0,0,0,0,0
1,2,43.19,BREAST CONSERVING,Breast Cancer,Breast Invasive Ductal Carcinoma,High,0,LumA,1.0,Positve,...,0,0,0,0,0,0,0,0,0,0
2,5,48.87,MASTECTOMY,Breast Cancer,Breast Invasive Ductal Carcinoma,High,1,LumB,1.0,Positve,...,0,0,0,0,0,0,0,0,0,0

In [76]:
#Extracting data
drugs_df.head(3)

,Name,EVS ID,Histology,Do not code,Remarks,Alternate Name,Primary Site,Abbreviation,NSC number,Category,Sub-category
0,131I-MIBG,NaN,"pheochromocytoma, paraganglioma, neuroblastoma",SEE_REMARKS,Do NOT code if given as a radioisotope for sca...,I131 metaiodobenzylguanidine,NaN,NaN,NaN,Radiation,Radioisotope
1,5-Aza-2'Deoxy-cytidine,NaN,NaN,NO,NaN,Decytabine,CML,DAC,NaN,Chemotherapy,Cytostatic agent--DNA methyl transferase inhib...
2,5-FP,NaN,NaN,NO,Oral 5-FU prodrug that is converted in the liv...,5-fluoro-Pyrimidinone,Breast;gastric;head & neck;liver cancer,NaN,NaN,Chemotherapy,Antimetabolite

In [77]:
#Extracting data
billing_df.head(3)

,Bill Selection Date,Bill ID,Billing Provider Unique Bill Identification Number,Unique Bill ID Number,Bill Type,Reporting Period Start Date,Reporting Period End Date,Insurer FEIN,Insurer Postal Code,Claim Administrator FEIN,...,Referring Provider Last Name or Group,Referring Provider First Name,Referring Provider Middle Name Initial,Referring Provider Suffix,Referring Provider FEIN,Referring Provider Gate Keeper Indicator,Referring Provider State License Number,Referring Provider Specialty License Number,Referring Provider Medicare Number,Referring Provider National Provider ID
0,1/2/15,58121251,83186563,35403972657,SV2,12/22/14,1/15/15,4LJLVJ44L,19106-3703,W4XXWBAX3,...,SEGER,BERNARD,NaN,NaN,NaN,NaN,MDMDF4506TXTX,NaN,NaN,NaN
1,1/1/15,58148067,394841XX001WB,SAFD1TXFM19828,SV2,1/12/15,1/15/15,T6RTE8RER,55060-3046,T6RTE8RER,...,RAMIREZ,RAMIRO,NaN,NaN,NaN,NaN,MDF1920TX,NaN,NaN,1.174562e+09
2,1/5/15,58164505,2.90126E+16,008AFI000001201501501877000001,SV2,1/12/15,1/18/15,3MGXZ3ZPM,03431-0000,3MGXZ3ZPM,...,MACMASTER,BENZEL,NaN,NaN,NaN,NaN,MDTXF6019TX,NaN,NaN,1.558305e+09

In [78]:
# Counting columns and rows to make sure that it matches with SQL tables
num_rows, num_columns = metabric_df.shape
print('Metrabic_df:')
print('number of rows :', num_rows, 'columns:', num_columns)

num_rows_tr, num_columns_tr = drugs_df.shape
print('Drugs_df:')
print('number of rows :', num_rows_tr, 'columns:', num_columns_tr)

num_rows_tr, num_columns_tr = billing_df.shape
print('Billing_df:')
print('number of rows :', num_rows_tr, 'columns:', num_columns_tr)

Metrabic_df:
number of rows : 1904 columns: 693
Drugs_df:
number of rows : 1910 columns: 11
Billing_df:
number of rows : 1048575 columns: 123

In [79]:
#For SCD type1 need to check for duplicates
duplicates = metabric_df.duplicated(subset = ['patient_id','age_at_diagnosis', 'death_from_cancer'], keep = False)

duplicate_rows = metabric_df[duplicates]

print("Duplicate Rows:")
print(duplicate_rows[['patient_id','age_at_diagnosis', 'death_from_cancer' ]])

Duplicate Rows:
Empty DataFrame
Columns: [patient_id, age_at_diagnosis, death_from_cancer]
Index: []

#Creating SCD1 Dimension and Key maintenance
Here's no duplicate rows so no need to drop duplicates

In [80]:
#Creating a patient_dim
DimPatient = metabric_df[['patient_id', 'age_at_diagnosis', 'death_from_cancer']].copy()

DimPatient = pd.DataFrame(DimPatient)

DimPatient.head(10)

   patient_id  age_at_diagnosis     death_from_cancer
0           0             75.65                Living
1           2             43.19                Living
2           5             48.87       Died of Disease
3           6             47.68                Living
4           8             76.97       Died of Disease
5          10             78.77       Died of Disease
6          14             56.45                Living
7          22             89.08  Died of Other Causes
8          28             86.41  Died of Other Causes
9          35             84.22       Died of Disease

In [81]:
#Load the data frames into the database tables
import psycopg2
from sqlalchemy import create_engine, types
db_params = {
    'database': 'Project',
    'user': 'postgres',
    'password': '0880',
    'host': 'localhost',
    'port': '5432',
}

conn = psycopg2.connect(**db_params)

engine = create_engine(f'postgresql+psycopg2://{db_params["user"]}:{db_params["password"]}@{db_params["host"]}:{db_params["port"]}/{db_params["database"]}')

dtype = {
    'patient_id': types.Integer,
    'age_at_diagnosis': types.Float,
    'death_from_cancer': types.String(length=25)
}

# Set the primary key constraint while loading DataFrame into SQL table
DimPatient.to_sql('patient_dim', engine, if_exists='replace', index=False, dtype=dtype)

# Execute SQL command to set primary key
with engine.connect() as con:
    con.execute('ALTER TABLE Patient_Dim ADD PRIMARY KEY (patient_id);')

In [83]:
# Executing SCD type1 in Python

updating_data = {
    'patient_id': [5],
    'age_at_diagnosis': [87.3],  # Updated ages
    'death_from_cancer': ['Died of Disease']  # Updated death status
}
updating_dataset = pd.DataFrame(updating_data)

for index, row in updating_dataset.iterrows():
    patient_id = row['patient_id']
    age = row['age_at_diagnosis']
    death = row['death_from_cancer']
    
    update_query = f"""
    UPDATE patient_dim
    SET age_at_diagnosis = {age}, death_from_cancer = '{death}'
    WHERE patient_id = {patient_id}
    """
    
    # Execute the update query
    with engine.connect() as con:
        con.execute(update_query)

In [66]:
Drug_Dim = drugs_df[['Name', 'Category', 'Primary Site' ]].copy()
Drug_Dim.rename(columns = {'Name' : 'drug_name', 'Category':'drug_category','Primary Site': 'drug_primary_site'}, inplace=True)
Drug_Dim.reset_index(drop=True, inplace=True)
Drug_Dim.index += 1  # Shift the index by 1
Drug_Dim.rename_axis('drug_id', inplace=True)

Drug_Dim.head(10)

,drug_name,drug_category,drug_primary_site
drug_id,,,
1,131I-MIBG,Radiation,NaN
2,5-Aza-2'Deoxy-cytidine,Chemotherapy,CML
3,5-FP,Chemotherapy,Breast;gastric;head & neck;liver cancer
4,ABT 888,Chemotherapy,Ovary
5,ADXS-HPV,"Biologic therapy (BRM, immunotherapy)",Cervix
6,AMG 531,Ancillary Agent,NaN
7,ATRA-IV,Differentiation inducing agent,Lymphoma;Acute promyelocytic leukemia
8,Abecma,"Biologic therapy (BRM, immunotherapy)",NaN
9,Abemaciclib,Chemotherapy,Breast
10,Abiraterone acetate,Hormones and hormonal mechanisms,Prostate

In [69]:
Drug_Dim.to_sql('drug_dim', engine, if_exists='append', index=False, dtype=dtype)
conn.commit()
conn.rollback()

910

In [92]:
Billing_Dim = billing_df[['Bill ID','Insurer FEIN', 'Bill Type', 'Total Charge Per Bill']].copy()
Billing_Dim.rename(columns = {'Bill ID' : 'billing_id', 'Insurer FEIN':'insurance_provider','Bill Type': 'charge_type', 'Total Charge Per Bill':'charge_amount' }, inplace=True)

In [93]:
Billing_Dim.to_sql('billing_dim', engine, if_exists='append', index=False, dtype=dtype)
conn.commit()
conn.rollback()

In [23]:
#Creating a Breast_cancer_type_dim
DimBreastType = metabric_df[['type_of_breast_surgery', 'cancer_type', 'cancer_type_detailed', 'cellularity']].copy()

DimBreastType.reset_index(drop=True, inplace=True)
DimBreastType.index += 1  # Shift the index by 1
DimBreastType.rename_axis('breast_cancer_type_id', inplace=True)

DimBreastType.head(10)

,type_of_breast_surgery,cancer_type,cancer_type_detailed,cellularity
breast_cancer_type_id,,,,
1,MASTECTOMY,Breast Cancer,Breast Invasive Ductal Carcinoma,NaN
2,BREAST CONSERVING,Breast Cancer,Breast Invasive Ductal Carcinoma,High
3,MASTECTOMY,Breast Cancer,Breast Invasive Ductal Carcinoma,High
4,MASTECTOMY,Breast Cancer,Breast Mixed Ductal and Lobular Carcinoma,Moderate
5,MASTECTOMY,Breast Cancer,Breast Mixed Ductal and Lobular Carcinoma,High
6,MASTECTOMY,Breast Cancer,Breast Invasive Ductal Carcinoma,Moderate
7,BREAST CONSERVING,Breast Cancer,Breast Invasive Ductal Carcinoma,Moderate
8,BREAST CONSERVING,Breast Cancer,Breast Mixed Ductal and Lobular Carcinoma,Moderate
9,BREAST CONSERVING,Breast Cancer,Breast Invasive Ductal Carcinoma,Moderate
10,MASTECTOMY,Breast Cancer,Breast Invasive Lobular Carcinoma,High

In [54]:
#Loading BreastDim to SQL
DimBreastType.to_sql('breast_cancer_type_dim', engine, if_exists='append', index=False)

conn.commit()
conn.rollback()

In [84]:
#Creating Genomic mutation Dim
DimGenomicMut = metabric_df[['pam50_+_claudin-low_subtype', 'cohort', 'er_status', 'her2_status_measured_by_snp6', 'inferred_menopausal_state', 'lymph_nodes_examined_positive', 'mutation_count', 'pr_status', 'tumor_size', 'tumor_stage' ]].copy()
DimGenomicMut.rename(columns = {'pam50_+_claudin-low_subtype' : 'pam50_claudin_low_subtype'}, inplace=True)
#DimGenomicMut.reset_index(drop=True, inplace=True)
#DimGenomicMut.index += 1  # Shift the index by 1
#DimGenomicMut.rename_axis('genetic_mutations_id', inplace=True)

DimGenomicMut

,pam50_claudin_low_subtype,cohort,er_status,her2_status_measured_by_snp6,inferred_menopausal_state,lymph_nodes_examined_positive,mutation_count,pr_status,tumor_size,tumor_stage
0,claudin-low,1.0,Positive,NEUTRAL,Post,10.0,NaN,Negative,22.0,2.0
1,LumA,1.0,Positive,NEUTRAL,Pre,0.0,2.0,Positive,10.0,1.0
2,LumB,1.0,Positive,NEUTRAL,Pre,1.0,2.0,Positive,15.0,2.0
3,LumB,1.0,Positive,NEUTRAL,Pre,3.0,1.0,Positive,25.0,2.0
4,LumB,1.0,Positive,NEUTRAL,Post,8.0,2.0,Positive,40.0,2.0
...,...,...,...,...,...,...,...,...,...,...
1899,LumA,4.0,Positive,NEUTRAL,Pre,1.0,4.0,Positive,25.0,NaN
1900,LumB,4.0,Positive,GAIN,Pre,1.0,6.0,Negative,20.0,NaN
1901,LumB,4.0,Positive,NEUTRAL,Post,45.0,4.0,Positive,25.0,NaN
1902,LumB,4.0,Positive,NEUTRAL,Post,12.0,15.0,Positive,25.0,NaN
1903,LumB,4.0,Positive,NEUTRAL,Post,1.0,3.0,Negative,20.0,NaN

In [88]:
DimGenomicMut.to_sql('genetic_mutations_dim', engine, if_exists='append', index=False)

conn.commit()
conn.rollback()